{% set title = 'Account Profile' %}

{% extends 'src/FrontEnd/layouts/masterWithSubTable.html' %}

{% block content %}
<div class="pagetitle">
    <h1 class="d-block d-sm-none">{{tableName}} InsertSubTable</h1>
    <h1 class="d-none d-sm-block">InsertSubTable</h1>
    <nav class="d-none d-sm-block">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item">{{tableName}}</li>
            <li class="breadcrumb-item active">InsertSubTable</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<form onsubmit="return false" id="FormId">
    <div class="row ColumnsRow">
        {% for ColumnName, ColumnInfo in columnData %}
        <div class="col-md-12">
            <label class="col-md-4 col-form-label">{{ColumnInfo.HtmlTags.Create.title}}</label>

            <div class="col-md-8">
                <input name="{{ColumnName}}" type="text" class="form-control" disabled>
            </div>
        </div>
        {% endfor %}
    </div>
</form>

{% if foreignTablecolumnData %}
<h1><a href="#" id="BsSubTableRefreshId"></a></h1>

<table id="SubTableId" data-show-footer="true">
    <thead>
        <tr>
            {% for ColumnName, ColumnInfo in foreignTablecolumnData %}
            {% if ColumnInfo.HtmlTags.SubTable.isShown %}
            <th data-field="{{ColumnName}}">{{ColumnInfo.HtmlTags.Show.title}}</th>
            {% endif %}
            {% endfor %}
            <th>Options</th>
        </tr>
    </thead>
    <tfoot>
        <tr id="tableFooterId">
            {% for ColumnName, ColumnInfo in foreignTablecolumnData %}
            {% if ColumnInfo.HtmlTags.SubTable.isShown %}
            {% if ColumnInfo.references %}
            <th>
                <input name="{{ColumnName}}" type="text" class="form-control" autocomplete="off"
                    list="{{ColumnInfo.references.model}}DLId" {{ColumnInfo.HtmlTags.CreateInFooter.RequiredTag}}
                    {{ColumnInfo.HtmlTags.CreateInFooter.AutoFocusTag}}>
            </th>
            {% else %}

            {% if ColumnInfo.type === "DATEONLY" %}
            <th>
                <input name="{{ColumnName}}" type="date" class="form-control" autocomplete="off"
                    list="{{ColumnInfo.HtmlTags.CreateInFooter.ListId}}"
                    {{ColumnInfo.HtmlTags.CreateInFooter.RequiredTag}}
                    {{ColumnInfo.HtmlTags.CreateInFooter.AutoFocusTag}}>
            </th>
            {% endif %}
            {% if ColumnInfo.type === "STRING" %}
            <th>
                <input name="{{ColumnName}}" type="text" class="form-control" autocomplete="off"
                    list="{{ColumnInfo.HtmlTags.CreateInFooter.ListId}}"
                    {{ColumnInfo.HtmlTags.CreateInFooter.RequiredTag}}
                    {{ColumnInfo.HtmlTags.CreateInFooter.AutoFocusTag}}>
            </th>
            {% endif %}
            {% if ColumnInfo.type === "INTEGER" %}
            <th>
                <input name="{{ColumnName}}" type="number" class="form-control" autocomplete="off"
                    list="{{ColumnInfo.HtmlTags.CreateInFooter.ListId}}"
                    {{ColumnInfo.HtmlTags.CreateInFooter.RequiredTag}}
                    {{ColumnInfo.HtmlTags.CreateInFooter.AutoFocusTag}}>
            </th>
            {% endif %}

            {% endif %}
            {% endif %}
            {% endfor %}
            <th>
                <button class="btn btn-outline-success" type="button" id="SubTableFooterSaveButtonId">Save</button>

            </th>
        </tr>
    </tfoot>
</table>
{% endif %}

{% for ColumnName, ColumnInfo in columnData %}
{% if ColumnInfo.references %}
<datalist id="{{ColumnInfo.references.model}}DLId"></datalist>
{% endif %}
{% endfor %}

{% for ColumnName, ColumnInfo in foreignTablecolumnData %}
{% if ColumnInfo.references %}
<datalist id="{{ColumnInfo.references.model}}DLId"></datalist>
{% endif %}
{% endfor %}

{% endblock %}

{% block js %}
<script type="module" src="../assets/static/js/pages/CreateSubTableMobile/StartFunc.js"></script>
{% endblock %}